<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'IMG/icon.png'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style_menu.css'%}">
</head>
<body>
    <!-- Navbar menu -->
    {% include 'base/header.html' %}
    <!-- Main -->
<br><br>
<main class="wrapper">

</main>
    <!-- Footer -->
    {% include 'base/footer.html' %}

    <script src="{% static 'js/validacion.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>