<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'IMG/icon.png'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style_menu.css'%}">
</head>
<body>
  
  <!-- Navbar menu -->
  {% include 'base/header.html' %}
  <!-- Fin Navbar -->

  <!-- Body -->
<main class="wrapper">
  <br>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="{% static 'IMG/atornillador.png' %}" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Atornillador</h5>
            <p class="card-text">Atornillador electrico marca BOSCH</p>
            <a href="{% url 'atornillador' %}" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="{% static 'IMG/martillo.png' %}" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Martillo estándar</h5>
            <p class="card-text">Martillo estándar con mango de madera</p>
            <a href="{% url 'martillo' %}" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="{% static 'IMG/Llave_francesa.png' %}" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Llave francesa</h5>
            <p class="card-text">Llave francesa de acero</p>
            <a href="{% url 'llave_francesa' %}" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="{% static 'IMG/Atornillador inalambrico.jpg' %} class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Atornillador</h5>
            <p class="card-text">Atornillador electrico marca STANLEY</p>
            <a href="{% url 'ator_inalambrico' %}" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="{% static 'IMG/lijadora.png' %}" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Lijadora</h5>
            <p class="card-text">Lijadora electrica marca MAKITA</p>
            <a href="{% url 'lijadora' %}" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="{% static '/IMG/taladro.png' %}" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">taladro</h5>
            <p class="card-text">Taladro electrico marca BOSCH</p>
            <a href="{% url 'taladro' %}" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="{% static '/IMG/sierra-circular.webp' %}" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Sierra circular</h5>
            <p class="card-text">Sierra circular electrica marca MAKITA</p>
            <a href="{% url 'sierra_circular' %}" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</main>
<!-- Fin main -->
<!-- Inicio footer -->   
  {% include 'base/footer.html' %}
<!-- Fin --> 
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>