<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
   
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'IMG/icon.png'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style_menu.css'%}">
</head>
<body>
  
  <!-- Navbar menu -->
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand col-2 px-3" href="../menu.html">
          <img src="../IMG/logoferramas.png" alt="No hay :v" width="124">
        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 h3 col-6">
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page" href="../menu.html">
                Inicio
              </a>
            </li>
            <li class="nav-item dropdown">
              <a 
              class="nav-link dropdown-toggle"
              href="../NavBar_menu/catalogo.html"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Catalogo de herramientas
              </a>
              <ul class="dropdown-menu px-3">
                <li><a class="dropdown-item" href="herramientas_manuales.html">Herramientas manuales</a></li>
                <li><a class="dropdown-item" href="materiales_ligeros.html">Materiales ligeros</a></li>
                <li><a class="dropdown-item" href="EPP.html">Elementos de protección personal</a></li>
              </ul>
            </li>
          </ul>
            <form class="form-inline my-2 my-lg-0 col-3">
              <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="search">
            </form>
            <div class="mx-auto">
              <ul class="navbar-nav">
                <li><a class="nav-link navbar-nav" href="../NavBar_menu/inicio_sesion.html">Iniciar sesion</a></li>
                <a class="nav-link" href="https://i1.sndcdn.com/artworks-zyYqA8D0BdfuyH28-WeeHrw-t500x500.jpg">/</a>
                <a class="nav-link navbar-nav" href="../NavBar_menu/registro.html">Registro</a>
                <a class="nav-link navbar-nav" href="../NavBar_menu/carrito.html"><img src="../IMG/carro.png" alt="carrito" width="50"></a>
              </ul>
            
          
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Fin Navbar -->

  <!-- Body -->
<main class="wrapper">
  <br>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/atornillador.png" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Atornillador</h5>
            <p class="card-text">Atornillador electrico marca BOSCH</p>
            <a href="" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/martillo.png" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Martillo estándar</h5>
            <p class="card-text">Martillo estándar con mango de madera</p>
            <a href="materiales ligeros/Piso_flot.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/Llave francesa.png" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Llave frances</h5>
            <p class="card-text">Llave francesa de acero</p>
            <a href="materiales ligeros/Piso_flot.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/Atornillador inalambrico.jpg" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Atornillador</h5>
            <p class="card-text">Atornillador electrico marca STANLEY</p>
            <a href="materiales ligeros/Piso_flot.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/lijadora.png" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Lijadora</h5>
            <p class="card-text">Lijadora electrica marca MAKITA</p>
            <a href="materiales ligeros/Piso_flot.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/taladro.png" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">taladro</h5>
            <p class="card-text">Taladro electrico marca BOSCH</p>
            <a href="materiales ligeros/Piso_flot.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/sierra-circular.webp" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Sierra circular</h5>
            <p class="card-text">Sierra circular electrica marca MAKITA</p>
            <a href="materiales ligeros/Piso_flot.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</main>
<!-- Fin main -->
<!-- Inicio footer -->   
  <footer class="footer"> 
        <nav class="navbarfooter">
          <div class="container-fluid">
            <ul class="navbarfooter_ul">
              <li class="navbarfooter_ul_li "><a class="navbarfooter_ul_li_a" href="../NavBar_menufooter/contacto.html">Nuestro contacto!😁</a></li>
              <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a" href="../NavBar_menufooter/acercade.html">Acerca de nosotros 😊</a></li>
              <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a" href="https://www.google.com/maps/place/Triángulo+de+las+Bermudas/@23.181134,-73.0428993,6z/data=!4m6!3m5!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71!16zL20vMDFqcGw?entry=ttu">Nuestra ubicacion 😎</a></li>
            </ul>
          </div>
        </nav>
  </footer>
<!-- Fin --> 

    <script src="../bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>