<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'IMG/icon.png'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style_cat.css'%}">
</head>
<body>
  <!-- Incio navbar -->
  {% include 'base/header.html' %}
  <!-- Fin -->
  <br>
  <br>
  <main class="wrapper">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/piso flotante.jpeg" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Piso flotante</h5>
            <p class="card-text">Piso flotante para interiores</p>
            <a href="materiales ligeros/Piso_flot.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/Pintura en tarro.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pintura para exteriores</h5>
            <p class="card-text">Pintura blanca para exteriores</p>
            <a href="materiales ligeros/pint_ext.html" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="https://sodimac.scene7.com/is/image/SodimacCL/3267326_01?wid=1500&hei=1500&qlt=70" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Cemento</h5>
            <p class="card-text">Cemento tradicional</p>
            <a href="#" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/agorex.webp" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Agorex</h5>
            <p class="card-text">Pegamento agorex</p>
            <a href="#" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/ladrillo.png" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Ladrillos</h5>
            <p class="card-text">Ladrilo estandar rojo</p>
            <a href="" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/saco de arena.png" class="card-img-top" alt="..." id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Arena en saco</h5>
            <p class="card-text">Saco de arena de 20 kilos</p>
            <a href="" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/barnis.webp" class="card-img-top" alt="" id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Barnis</h5>
            <p class="card-text">Barnis en tarro 1/4G</p>
            <a href="" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;" id="cardbackground">
          <img src="../IMG/ceramico.png" class="card-img-top" alt="" id="cardbackground">
          <div class="card-body">
            <h5 class="card-title">Cerámico</h5>
            <p class="card-text">Baldosa cerámica kamennyy vek clinker ladrillo</p>
            <a href="" class="btn btn-dark">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<br>
  <!-- Inicio footer -->   
  {% include 'base/footer.html' %}
  <!-- Fin --> 
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
