<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferremas</title>
    <link rel="icon" type="image/png" href="{% static 'IMG\icon.png' %}">
    <link rel="stylesheet" href="{% static 'css\bootstrap-5.3.3-dist\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css\style_cat.css' %}">
  
  </head>
<body>
  <!-- Inicio navbar -->
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand col-2 px-3" href="{% url 'index' %}">
          <img src="{% static 'IMG\logoferramas.png' %}" alt="No hay :v" width="124">
        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 h3 col-6">
              <li class="nav-item px-3">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
                  Inicio
                </a>
              </li>
              <li class="nav-item dropdown">
                <a 
                class="nav-link dropdown-toggle"
                href="{% url 'catalogo' %}"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Catalogo de herramientas
                </a>
                <ul class="dropdown-menu px-3">
                  <li><a class="dropdown-item" href="{% url 'herramientasmanuales' %}">Herramientas manuales</a></li>
                <li><a class="dropdown-item" href="{% url 'materialesligeros' %}">Materiales ligeros</a></li>
                <li><a class="dropdown-item" href="{% url 'epp' %}">Elementos de proteccion personal </a></li>
                </ul>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 col-3">
              <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="search">
            </form>
            <div class="mx-auto">
            <ul class="navbar-nav">
              <a class="nav-link navbar-nav" href="{% url 'login' %}">Iniciar sesion</a>
              <a class="nav-link" href="https://i1.sndcdn.com/artworks-zyYqA8D0BdfuyH28-WeeHrw-t500x500.jpg">/</a>
              <a class="nav-link navbar-nav" href="{% url 'register' %}">Registro</a>
              <a class="nav-link navbar-nav" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img
                  src="{% static 'IMG\carro.png' %}" alt="carrito" width="50"></a>
            </ul>
            </div>
          </div>
      </div>
    </nav>
  </header>
<!-- main -->
<main class="wrapper">
  <br>
  <center>
  <div class="col-7">
    <div class="flex-container">
      <img src="{% static 'img\pisoflotante.jpeg' %}" alt="diabro no cargo" height="500">
      <div class="row-cols-1">
      <h3>Piso flotante</h3>
      <ul>Transforma tus espacios con la elegancia y practicidad de nuestros pisos flotantes estándar. <br>

        <li>Instalación sencilla y rápida: Sin necesidad de pegamento ni herramientas especiales</li> <br>
        <li>Resistentes al desgaste: Ideales para áreas de alto tráfico.</li> <br>
        <li>Fáciles de limpiar y mantener: Basta con barrer o aspirar y usar productos específicos para pisos flotantes.</li> <br>
        <li>Variedad de diseños: Elige entre una amplia gama de colores y texturas que imitan la madera natural.</li> <br> <br>
        ¡No esperes más y dale un nuevo aire a tus ambientes con nuestros pisos flotantes estándar!</ul>
        <b class="Precio">$15.000</b>
        <button class="btn boton" id="calcular">Ver valor en UF</button>
        <br><br>
        <b class="Precio" id="resultado"></b>  
      </div>
    </div>
  </div>
  </center>  
</main>
<!-- Footer -->
<footer class="footer">
  <nav class="navbarfooter">
    <div class="container-fluid">
      <ul class="navbarfooter_ul">
        <li class="navbarfooter_ul_li "><a class="navbarfooter_ul_li_a" href="{% url 'contacto' %}">Nuestro
            contacto!😁</a></li>
        <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a" href="{% url 'acercade' %}">Acerca
            de nosotros 😊</a></li>
        <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a"
            href="https://www.google.com/maps/place/Triángulo+de+las+Bermudas/@23.181134,-73.0428993,6z/data=!4m6!3m5!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71!16zL20vMDFqcGw?entry=ttu">Nuestra
            ubicacion 😎</a></li>
      </ul>
    </div>
  </nav>
</footer>
    <script src="{% static 'css\bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js\cat.js' %}" type="module"></script>
</body>
</html>