<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ferremas</title>
  <link rel="icon" type="image/png" href="{% static 'IMG\icon.png' %}">
  <link rel="stylesheet" href="{% static 'css\bootstrap-5.3.3-dist\css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css\style_menu.css' %}">

</head>

<body>
  <div class="wrapper">
  <!-- Inicio de navbar -->
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand col-2 px-3 " href="{% url 'index' %}">
          <img src="{% static 'IMG\logoferramas.png' %}" alt="no hay :v" width="124">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav  mb-2 mb-lg-0 h3 col-6">
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="{% url 'catalogo' %}" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Catálogo
              </a>
              <ul class="dropdown-menu px-3">
                <li><a class="dropdown-item" href="{% url 'herramientasmanuales' %}">Herramientas manuales</a></li>
                <li><a class="dropdown-item" href="{% url 'materialesligeros' %}">Materiales ligeros</a></li>
                <li><a class="dropdown-item" href="{% url 'epp' %}">Elementos de proteccion personal </a></li>
              </ul>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page" href="{% url 'buscarSeries' %}">BCChile</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page" href="{% url 'obtener_producto' %}">API</a>
            </li>
            </ul>
          <form class="form-inline my-2 my-lg-0 col-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="search">

          </form>
          <div class="mx-auto">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <h5>¡Bienvenido, {{user.username}}!</h5>
                <button type="button" class="btn btn-outline-primary"><a href="{% url 'logout' %}">Cerrar sesión</a></button>
              {% else %}
                <button type="button" class="btn btn-outline-primary"><a href="{% url 'login' %}">Iniciar sesión</a></button>
              {% endif %}
              <a class="nav-link navbar-nav" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img
                  src="{% static 'IMG\carro.png' %}" alt="carrito" width="50"></a>
          </div>
          </ul>

        </div>
      </div>

    </nav>
  </header>
<!-- main -->
<main class="wrapper">
  <br>
  
  <div class="col-12 justify-content-center">
    <div class="flex-container col-10 mx-auto shadow-lg mt-5" style="background-color: rgb(185, 188, 190);">
      <img src="{% static 'IMG\protector_oido.jpg' %}" alt="diabro no cargo" height="500">
      <div class="row-cols-1">
      <h3>Protector de oído</h3>
      <p>El protector de oído tipo cintillo es la solución perfecta para proteger tus oídos en entornos ruidosos.
         Diseñado con materiales acolchados y ajustables, garantiza un ajuste cómodo y seguro para diferentes
          tamaños de cabeza. Su diseño ligero y compacto permite llevarlo cómodamente durante largas jornadas de
           trabajo, brindando una atenuación efectiva del ruido sin comprometer la comodidad. Ideal para trabajadores
            industriales, entusiastas de la música o cualquier persona que necesite proteger su audición.</p>
        <span><b class="Precio">$</b><b type="number" class="Precio" id="preciopro">6290</b></span>
        <button class="btn boton" id="calcular">Ver valor en UF</button>
        <br><br>
        <b class="Precio" id="resultado"></b> 
        <button class="btn boton" id="ocultarBtn" style="display: none;">Ocultar resultado</button> 
      </div>
    </div>
  </div>
    
</main>
<!-- Footer -->
<footer class="footer">
  <nav class="navbarfooter">
    <div class="container-fluid">
      <ul class="navbarfooter_ul">
        <li class="navbarfooter_ul_li "><a class="navbarfooter_ul_li_a" href="{% url 'contacto' %}">Nuestro
            contacto!😁</a></li>
        <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a" href="{% url 'acercade' %}">Acerca
            de nosotros 😊</a></li>
        <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a"
            href="https://www.google.com/maps/place/Triángulo+de+las+Bermudas/@23.181134,-73.0428993,6z/data=!4m6!3m5!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71!16zL20vMDFqcGw?entry=ttu">Nuestra
            ubicacion 😎</a></li>
      </ul>
    </div>
  </nav>
</footer>
<!-- Fin :v -->
<script src="{% static 'js\bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js\Producto.js' %}" type="module"></script>


</body>

</html>