<footer class="footer">
    <nav class="navbarfooter">
      <div class="container-fluid">
        <ul class="navbarfooter_ul">
          <li class="navbarfooter_ul_li "><a class="navbarfooter_ul_li_a" href="{% url 'contacto'%}">Nuestro
              contacto!😁</a></li>
          <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a" href="{% url 'acercade'%}">Acerca
              de nosotros 😊</a></li>
          <li class="navbarfooter_ul_li"><a class="navbarfooter_ul_li_a"
              href="https://www.google.com/maps/place/Triángulo+de+las+Bermudas/@23.181134,-73.0428993,6z/data=!4m6!3m5!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71!16zL20vMDFqcGw?entry=ttu">Nuestra
              ubicacion 😎</a></li>
        </ul>
      </div>
    </nav>
  </footer>