{%load static%}
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand col-2 px-3 " href="{% url 'menu'%}">
          <img src="{% static 'IMG/icon.png'%}" alt="no hay :v" width="50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav  mb-2 mb-lg-0 h3 col-6">
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page" href="{% url 'menu'%}">Inicio</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " href="NavBar_menu/catalogo.html" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Catalogo de herramientas
              </a>
              <ul class="dropdown-menu px-3">
                <li><a class="dropdown-item" href="{% url 'herramientas'%}">Herramientas manuales</a></li>
                <li><a class="dropdown-item" href="{% url 'materiales'%}">Materiales ligeros</a></li>
                <li><a class="dropdown-item" href="{% url 'EPP'%}">Elementos de proteccion personal </a></li>
              </ul>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 col-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="search">

          </form>
          <div class="mx-auto">
            <ul class="navbar-nav">
              {% if request.user.is_authenticated %}
              <b>Bienvenido {{request.user.username}}</b>
              <a href="{% url 'logout' %}">
                <button class="nav-link">Cerrar sesion</button>
              </a>
              {% else %}
              <a class="nav-link navbar-nav" href="{% url 'login'%}">Iniciar sesion</a>
              {% endif %}
              <a class="nav-link" href="https://i1.sndcdn.com/artworks-zyYqA8D0BdfuyH28-WeeHrw-t500x500.jpg">/</a>
              <a class="nav-link navbar-nav" href="{% url 'registro'%}">Registro</a>
              <a class="nav-link navbar-nav" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img
                  src="{% static 'IMG/Carro.png'%}" alt="carrito" width="50"></a>
          </div>
          </ul>

        </div>
      </div>

    </nav>
  </header>